apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops
  template:
    metadata:
      labels:
        app: devops
    spec:
      containers:
      - name: devops
        image: tej42/devops-app:latest
        ports:
        - containerPort: 3000
